<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>https://alpha-api.app.net/</string>
	<key>requests</key>
	<dict>
		<key>getUserFollowers</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}/followers?access_token={accessToken}</string>
		</dict>
		<key>getUserFollowing</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}/following?access_token={accessToken}</string>
		</dict>
		<key>getUser</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}?access_token={accessToken}</string>
		</dict>
		<key>postToStream</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/posts</string>
			<key>postFormat</key>
			<string>text={text}&amp;access_token={accessToken}</string>
		</dict>
		<key>postToStreamAsReply</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/posts</string>
			<key>postFormat</key>
			<string>text={text}&amp;access_token={accessToken}&amp;reply_to={post_id}</string>
		</dict>
		<key>getGlobalStream</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream/global?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserStream</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/posts/stream?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserMentions</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}/mentions?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserPosts</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}/posts?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getPostReplies</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/posts/{post_id}/replies?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getCurrentUser</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/users/me?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
	</dict>
</dict>
</plist>
